@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'roboto';
    color: #393c41;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
body{
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
@keyframes animateDown{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(3px);
    }
}
